<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/controller.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Login to <%= title %></p>    
    <form action="/login" method="post">
      <input type="text" name="login"/>
      <input type="password" name="password"/>
      <input type="submit" value="login"/>
    </form>
  </body>
</html>